body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    text-align: center;
    margin: 0;
    padding: 0;
}

.contenedor {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

.contenedor-ejercicio {
    text-align: left;
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    margin-right: 10px;
    color: #555;
}

select, input {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
    font-size: 16px;
}

.btn {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #555;
}

.descripcion {
    margin: 20px 0;
    font-size: 18px;
    color: #555;
}

#entradaUsuario, #botonEjecutar {
    margin: 20px 0;
}

#resultados {
    background-color: plum;
    color: #fff;
    padding: 20px;
    margin: 20px 0;
    border-radius: 5px;
}

#resultados h2 {
    font-size: 20px;
}

#textoResultados {
    font-size: 16px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}
